/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

* {
    box-sizing: border-box;
}

:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --color-fondo: #F8F6FA;
    --cor-de-link: #000;
    --color-base: #fff;
    --color-seccion-secundario: #E4ECFF;
    /* --color-secundario: #334CA6; */
    --color-secundario: #313b72;
    --color-letra-secundaria: #eeeeee;
    --color-boton: #e3edf7;
    --color-titleForm: royalblue;
    --color-submit-hover: rgb(56, 90, 194);
    --color-signin: rgba(88, 87, 87, 0.822);
    --color-form-border-label: rgba(105, 105, 105, 0.397);
    --color-btn-hover: #333333;
    --color-learn-more: #282936;
    --color-for-label-input: grey;
    --color-box-shadow: #bababa;
    --color-success: green;
}

body {
    box-sizing: border-box;
    background-color: var(--color-fondo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-link);
}

h2,
h3.tittle_subsection,
p.about__paragraph {
    max-width: 750px;
}

section {
    padding: 32px 0px;
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu {
    justify-content: space-around;
    padding: 20px 0px;
    background-color: var(--color-secundario);
}

.menu,
.menu__header,
.menu__list {
    display: flex;
}

.menu__header {
    min-width: 320px;
}

.menu__logo {
    color: var(--color-letra-secundaria);
}

.menu__title {
    color: var(--color-letra-secundaria);
}

.menu__list {
    align-content: flex-end;
}

.menu__list__item {
    padding: 5px;
    color: var(--color-letra-secundaria);
}


/*Sección Title*/

section.title {
    max-height: 400px;
}

.title__div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.title__profile {
    max-width: 320px;
}

.title__container {
    max-width: 750px;
}

.title__bio {
    font-weight: 700;
}

.title__subsection {
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    padding: 0 40px 0 0;
    box-sizing: border-box;
}

.title__network {
    display: flex;
    padding: 0;
}

.title__network__item {
    padding: 0 32px 0 0;
}

/*Sección About*/

section.about {
    display: flex;
    justify-content: center;
    background-color: var(--color-seccion-secundario);
}

.about__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about__paragraph {
    text-align: justify;
}

.about__sign {
    width: 240px;
}

.about__img__box {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


/* Skills */
section.skills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.skills__line {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.skills__box {
    width: 142px;
    height: 144px;
    padding: 16px;
    margin: 0px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.skills__ul {
    padding: 0;
}

.skills__img__item {
    max-width: 24px;
}

/*Sección Hobbies*/

section.hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hobbies__line {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.hobbies__box {
    width: 142px;
    height: 144px;
    padding: 16px;
    margin: 0px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.hobbies__img__item {
    max-width: 45px;
}

.hobbies__ul {
    padding: 0;
}

/* Experiencia Académica*/

section.academic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.academic__courses {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.academic__courses__box{
    box-sizing: border-box;
    max-width: 300px;
}

.academic__courses__item__img{
    height: 130px;
    display: flex;
    align-items: center;
}

.academic__courses__item__img__content{
    max-width: 280px;
    
}

/* experiencia*/

section.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experiencie__box {
    display: flex;
    align-content: center;
    padding: 32px 0px;
    box-sizing: border-box;
}

.experiencie__boxv2 {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    padding: 32px 0px;
    box-sizing: border-box;
}

.experience__img {
    max-width: 700px;
}

.experience__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 400px;
    padding: 0px 20px;
}

.experience__description {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 360px;
}

/* boton repositorio */
.btn {
    display: flex;
    align-items: center;
    background: var(--color-boton);
    padding: .5em;
    border-radius: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: transform 0.5s;
}

.btn:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transform: translateY(0.5em);
}

.btn svg {
    transition: transform 0.5s;
}

.btn:hover svg {
    transform: scale(0.9);
    fill: var(--color-btn-hover);
}

/* boton demo */
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 10rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--color-learn-more);
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: var(--color-base);
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid var(--color-base);
    border-right: 0.125rem solid var(--color-base);
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: var(--color-learn-more);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: var(--color-base);
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: var(--color-base);
}

/*Contacto*/

section.formcontato {
    padding: 32px 128px;
}

.formcontato__contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-evenly;
}

.formcontato__img {
    max-width: 460px;
}

.formcontato__text {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0px 20px;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: var(--color-base);
    padding: 20px;
    border-radius: 20px;
    position: relative;
}

.titleForm {
    font-size: 28px;
    color: var(--color-titleForm);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.titleForm::before,
.titleForm::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: var(--color-titleForm);
}

.titleForm::before {
    width: 18px;
    height: 18px;
    background-color: var(--color-titleForm);
}

.titleForm::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.message,
.signin {
    color: var(--color-signin);
    font-size: 14px;
}

.signin {
    text-align: center;
}

.signin a {
    color: var(--color-titleForm);
}

.signin a:hover {
    text-decoration: underline var(--color-titleForm);
}

.form__label {
    position: relative;
}

.form__label .input,
.formcontato__textarea {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid var(--color-form-border-label);
    border-radius: 10px;
}

.form__label .input+span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: var(--color-for-label-input);
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form__label .input:placeholder-shown+span {
    top: 15px;
    font-size: 0.9em;
}

.form__label .input:focus+span,
.form__label .input:valid+span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form__label .input:valid+span {
    color: var(--color-success);
}

.submit {
    border: none;
    outline: none;
    background-color: var(--color-titleForm);
    padding: 10px;
    border-radius: 10px;
    color: var(--color-base);
    font-size: 16px;
    transform: .3s ease;
}

.submit:hover {
    background-color: var(--color-submit-hover);
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

/*footeer*/
.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-secundario);
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.footer__rodape {
    text-align: center;
    padding: 48px 0px;
}

.footer__texto {
    margin: 0px;
    color: var(--color-letra-secundaria);
}

.footer__logos {
    /* min-width: 120px; */
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer__logos__items {
    width: 40px;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    /* Menú */
    .title {
        min-height: 400px;
        display: flex;
        padding: 32px 20px;
    }

    .title__profile {
        max-width: 150px;
    }

    /*title*/

    /*Skills*/
    .skills__box,
    .hobbies__box {
        width: 160px;
        height: 150px;
        margin: 20px 24px;
    }

    /*Hobbies*/

    /*Formación Académica*/
    .academic__courses__box {
        width: 250px;
    }

    /*Experiencia Profesional*/
    .experiencie__box,
    .experiencie__boxv2 {
        flex-direction: column;
    }

    /* Contacto*/
    section.formcontato {
        display: flex;
        justify-content: center;
        padding: 32px 0px;
    }

    .formcontato__img {
        display: none;
    }
}

/*Mobile*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {

    * {
        box-sizing: border-box;
    }

    nav {
        display: none;
    }

    section {
        box-sizing: border-box !important;
    }

    /* Menú */
    .menu__header {
        justify-content: space-between;
    }

    /*title*/

    .title {
        max-height: 600px !important;
        display: flex;
        padding: 32px 20px;
    }

    .title__subsection {
        padding: 0;
    }

    .title__network {
        justify-content: space-evenly;
    }

    .title__network__item {
        padding: 0;
    }

    .title__div {
        display: flex;
        flex-direction: column;
    }

    .title__profile {
        max-width: 120px;
    }

    /* About */
    .about__title,
    .about__paragraph,
    .about__sign {
        padding: 0px 20px;
    }

    /*Skills*/
    .skills__box,
    .hobbies__box {
        width: 140px;
        height: 130px;
        margin: 20px 16px;
    }

    /*Hobbies*/

    /*Formación Académica*/
    .academic__courses {
        flex-direction: column;
    }

    .academic__courses__list {
        padding: 0;
    }

    .academic__courses__box {
        width: 250px;
        display: flex;
        justify-content: center;
    }

    .academic__courses__item__img {
        display: flex;
        justify-content: center;
    }


    /*Experiencia Profesional*/
    .experiencie__box,
    .experiencie__boxv2 {
        flex-direction: column;
    }

    .experience__info {
        min-width: 320px;
        padding: 0;
    }

    .experience__title {
        display: flex;
    }

    .experience__img {
        max-width: 360px;
    }

    /* Contacto*/
    section.formcontato {
        display: flex;
        justify-content: center;
        padding: 32px 0px;
    }

    .formcontato__img {
        display: none;
    }

    .footer__logos {
        display: none;
    }

    .btn {
        padding: 0.3em;
        border-radius: 8px;
    }
}


/* Codigo Reiterativo */

.title__bio,
.about__title,
.skills__title,
.hobbies__title,
.academic__title,
.experience__section__title {
    font-size: 28px;
}

.hobbies__box,
.skills__box {
    border-radius: 50px;
    background: var(--color-base);
    box-shadow: 24px 24px 22px var(--color-box-shadow),
        -24px -24px 22px var(--color-base);
}